<% if @post.errors.present? %>
  エラーがあります
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>投稿一覧</h2>
<table>
  <tr>
    <th>タイトル</th>
    <th>投稿内容</th>
    <th>投稿者id</th>
    <th>投稿者</th>
    <th>投稿日時</th>
    <th>更新日時</th>
    <th></th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><a href="post/<%= post.id %>"><%= post.title %></a></td>
      <td><%= post.body %></td>
      <td><%= post.user_id %></td>
      <td><%= post.user.name %></td>
      <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= post.updated_at.strftime('%Y/%m/%d') %></td>
      <td><a href="/like">❤️</a></td>
      <td><span><%= @like.to_i %></span></td>
   </tr>
  <% end %>
</table>

<h2>新規投稿</h2>
<form method="post" action="/post">
  <label for="title">タイトル：</label>
  <input type="text" name="title">
  <label for="body">投稿内容：</label>
  <input type="text" name="body">
  <button type="submit">投稿する</button>
</form>
