<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Blog</title>
	<link rel='stylesheet' href='/css/style.css' />
	<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<ul>

				<% if session[:user_id] %>
					<div>
						<p>ようこそ、<%= session[:user_id] %>さん</p>
					</div>
					<li><a class="btn btn-warning" href=<%= "/user/#{session[:user_id]}" %>>マイページ</a></li>
					<li>
						<form method="post" action="/logout">
							<button class="btn btn-info"> ログアウト</button>
						</form>
					</li>
				<% else %>
					<li><a class="btn btn-warning" href=<%= '/signup' %>>新規登録</a></li>
					<li><a class="btn btn-info" href=<%= '/login' %>>ログイン</a></li>
				<% end %>
				
				<li><a class="btn btn-success" href="/user">ユーザー一覧</a></li>
				<li><a class="btn btn-primary" href="/">投稿</a></li>
				<li><a class="btn btn-primary" href="/task">Todo</a></li>
			</ul>
		</nav>
		<%= yield %>
	</div>
</body>
</html>
