<h2>ToDo一覧</h2>
<table>
  <tr>
    <th>Todo</th>
    <th>状態</th>
    <th>期日</th>
    <th></th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.task_name %></a></td>
      <td><%= task.status %></td>
      <td><%= task.deadline %></td>
      <td><a href="/task/<%= task.id %>">編集</a></td>
      <td>
        <%# <form method="post" action="/task/= task.id"> %>
          <%# <input type="hidden" name="_method" value="delete"> %>
          <%# <button type="submit">削除する</button> %>
        <%# </form> %>
        <a href="/destroy/task/<%= task.id %>">削除</a>
      </td>
    </tr>
  <% end %>
</table>

<h2>新規ToDo</h2>
<form method="post" action="/task">
  <div>
  <label for="task_name">ToDo</label>
  <input type="text" name="task_name">
  </div>
  <div>
    <label for="status">状態</label>
    <select :status, id="status" name="status">
    <option value="0" selected>選択してください</option>
    <option value="ToDo">ToDo</option>
    <option value="進行中">進行中</option>
    <option value="完了">完了</option>
  </div>
  <div>
    <label for="deadline">期日</label>
    <input type="date" name="deadline">
  </div>
  <div>
    <button type="submit">登録する</button>
  </div>
</form>

